---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*

WarningsAsErrors: ''

FormatStyle: file
HeaderFilterRegex: 'src/|libs/'

CheckOptions:
  - key: bugprone-unused-return-value.AllowedFunctions
    value: 'std::move'
...

